# dotnet
bin/
code_coverage/
obj/
test_coverage/

appsettings*
!appsettings.json

# macos
.DS_Store

# sonarcloud
.sonarqube/

# Visual studio
**/.vs
**/.vs/

**/justfile
**/coverage.opencover.xml

**/report

ReflectiveObject/
